{% extends 'my_app/base.html' %}

{% block content%}
    <h2 style="text-align: center">{{ search|title }}</h2>
    <div class="row">
    {% for post in final_posting %}
        <div class="col s4">
          <div class="card" style="height: 400px;">
            <div class="card-image">
                <a class="images"  href="{{ post.1 }} "> <img style="height: 220px;" src="{{post.3 }}" alt=""></a>
            </div>
              <div class="card-content" style="height: 100px;">
                  <p>{{ post.0 }}</p>
              </div>
              <div class="card-action">
                  <a href="{{ post.1 }}">This is the price: {{ post.2 }}</a>
              </div>
          </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}