{% extends 'base.html'%}
{% load static %}

{% block cssjs %}
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"> </script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('.sidenav').sidenav();
             });
    </script>
{% endblock %}

{% block body %}
  <body class="body-skils">
{% endblock %}

{% block nevbar %}
                <!--nevbar-->
          <nav class="nav-extended black z-depth-5" style="height: 70px; opacity:0.9;" >
            <div>
              <a href="/about/">
                  <img class="" id="logo" style="width:170px; height:80px; padding: 5px 0px 15px 15px;"
                       src="{% static 'home/image/logoDW.png' %}" alt="image"/>
              </a>
                 <a class="sidenav-trigger" style="color:white;" href="#" data-target="slide-out" >
            <i class="material-icons">menu</i>
        </a>
              <ul id="nav-mobile" class="right hide-on-med-and-down">
                  <li><a href="/"><h5 style="padding: 10px 0px 0px 0px;">Home</h5></a></li>
                  <li><a href="/about"><h5 style="padding: 10px 0px 0px 0px;">About</h5></a></li>
                  <li><a href="/projects"><h5 style="padding: 10px 0px 0px 0px;">Projects</h5></a></li>
                  <li><a href="/skils"><h5 style="padding: 10px 0px 0px 0px;">Skils</h5></a></li>
                  <li><a href="/contact"><h5 style="padding: 10px 0px 0px 0px;">Contact</h5></a></li>
              </ul>
            </div>
          </nav>
<ul id="slide-out" class="sidenav black z-depth-5" style=" opacity:0.85;">
    <li><a href="/"  style="color:white;">
        <i class="material-icons"  style="color:white;">home</i>Home</a></li>
    <li><a href="/about" style="color:white;">
        <i class="material-icons" style="color:white;">sentiment_very_satisfied</i>About</a></li>
    <li><a href="/projects" style="color:white;">
        <i class="material-icons" style="color:white;">subtitles</i>Projects</a></li>
    <li><a href="/skils" style="color:white;">
        <i class="material-icons" style="color:white;">folder_shared</i>Skils</a></li>
    <li><a href="/contact" style="color:white;">
        <i class="material-icons" style="color:white;">mail</i>Contact</a></li>
</ul>
{% endblock %}

{% block content %}
<nav class="black z-depth-5" style="height: 60px; opacity:0.8; padding: 0px 0px 0px 30px;">
  <div class="nav-wrapper"  >
    <div class="col s12">
      <a href="/" class="breadcrumb"><h9 style="color:white;">Home</h9></a>
      <a href="/skils" class="breadcrumb"><h9 style="color:white;">Skils</h9></a>
    </div>
  </div>
</nav>

<div class="container z-depth-5">
    <blockquote class="black z-depth-5" style="opacity:0.9;">
        <div class="row">
            <h3 class="col s12 m7 black z-depth-5" style="color:white;">Programming Language:</h3>
            <h3 class="center col s12 m3 #006064 cyan darken-4 z-depth-5" style="color:white;">Python</h3>
        </div>
        <div class="row">
            <h4 class="col s12 m4 black z-depth-5" style="color:white;">Web framework:</h4>
            <h4 class="center col s12 m5 #006064 cyan darken-4 z-depth-5" style="color:white;">Python Django</h4>
        </div>
        <div class="row">
            <h4 class="col s12 m4 black z-depth-5" style="color:white;">Database:</h4>
            <h4 class="center col s12 m5 #006064 cyan darken-4 z-depth-5" style="color:white;">MySQL</h4>
        </div>
        <div class="row">
            <h4 class="col s12 m6 black z-depth-5" style="color:white;">Version Control System:</h4>
            <h4 class="center col s12 m5 #006064 cyan darken-4 z-depth-5" style="color:white;">Git & GitHub</h4>
        </div>
        <div class="row">
            <h4 class="col s12 m2 black z-depth-5" style="color:white;">Tools:</h4>

                <h4 class="center col s12 m3 #006064 cyan darken-4 z-depth-5" style="color:white;">PyCharm</h4>
                <h4 class="center col s12 m2  #006064 cyan darken-4 z-depth-5" style="color:white;">Repl.it</h4>

            <h4 class="center col s12 m3 #006064 cyan darken-4 z-depth-5 center" style="color:white;">Sublime Text</h4>

        </div>
        <div class="row">
            <h4 class="col s12 m5 black z-depth-5" style="color:white;">Operation System:</h4>
            <div class="row">
                <h4 class="center col s12 m3 #006064 cyan darken-4 z-depth-5" style="color:white;">Linux</h4>
                <h4  class="center col s12 m3 #006064 cyan darken-4 z-depth-5"style="color:white;">Windows</h4>
            </div>
        </div>
        <div class="row">
            <h4 class="col s12 m4 black z-depth-5" style="color:white;">Familiar with:</h4>
            <div class="row">
                <h4 class="center col s12 m3 #006064 cyan darken-4 z-depth-5" style="color:white;">HTML/CSS</h4>
                <h4  class="center col s12 m3 #006064 cyan darken-4 z-depth-5"style="color:white;">JavaScript</h4>
            </div>
        </div>
    </blockquote>
    <div class=" center black z-depth-5" style="opacity:0.9;">
            <h5 class="col z-depth-5" style="color:white;">{Strong problem solving skills}</h5>
            <h5 class="col z-depth-5" style="color:white;">{Excellent communication and analytical skills}</h5>
            <h5 class="col z-depth-5" style="color:white;">{Excellent teamwork skills}</h5>
            <h5 class="col z-depth-5" style="color:white;">{Highly organized}</h5>
            <h5 class="col z-depth-5" style="color:white;">{Quick learning skills}</h5>
            <h5 class="col z-depth-5" style="color:white;">{English B2}</h5>
    </div>
</div>
    <div class=" center z-depth-5" >
        <img class="img-about" src="{% static 'home/image/about/p3.jpg' %}" alt="">
    </div>
{% endblock %}

