{% load static %}
<html>
<head>
    <title>My first Django App</title>
    <meta name="viewport"
    content = "width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>
    <body>
        <div class="container">
                <ul class="nav justify-content-end">
              <li class="nav-item">
                <a class="nav-link" href="/projects/" tabindex="-1">
                    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false">
                      << Back
                    </button>
                </a>
              </li>
        </div>
        <div class="container jumbotron shadow-lg "  style="text-align: center;">
                <h2 class="">Simple Django App</h2>
                <p class="">To add text to database just type some text and click submit,
                                to delete text from database just click delete button.</p>
                <a class=""  href="https://github.com/DiddyChriss/Simple-Django-App">
                    <p class="">Github Repository</p>
                    <img class="" style="width:25px;" src="{% static 'home/image/gh.png' %}">
                </a>
        </div>
        <div class="container">
             <nav class="navbar navbar-dark bg-primary">
                <a class="navbar-brand" href="/projects/todoapp/">Add and Delete Text to Data  - App</a><!-- Navbar content -->
            </nav>
            <div class="container">
                {% block content %}{% endblock %}
            </div>
        </div>
         <div class="container jumbotron shadow-lg "  style="text-align: center;">
                <h2>DataBase Text</h2>
        </div>
    </body>

</html>