
.body-projects {
  background-color: #666666;
}

.body-home {
  background-color: #DDDDDD ;

}

.img-home {
    height: 100%;
    width: 100%;
    padding: 5px 5px 0px 5px;
    overflow: hidden;
}

.card-home
{
    height: 60%;
    width: 60%;
    background-color: black;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}

.body-about {
  background-color: #DDDDDD ;
  background-position: center;

}

.card-about
{
    height: 60%;
    width: 60%;
    background-color: black;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}


.ico-about {
    height: 70%;
    width: 6%;
    overflow: hidden;
}

.img-about {
    height: 40%;
    width: 40%;
    overflow: hidden;
}

.body-skils {
 background-color: #DDDDDD ;


.body-contact {
  background-color: #CCCCCC;


