
.body-projects {
  background: url('image/tlo.png')no-repeat fixed;
  background-position: center;
  background-size: 118% 105%;
  padding: 20px 20px 20px 20px;
}

.body-home {
  background: url('image/tlo2.png')no-repeat fixed;
  background-position: center;
  background-size: 120% 118%;
  padding: 20px 20px 20px 20px;
}

.img-home {
    height: 100%;
    width: 100%;
    padding: 5px 5px 0px 5px;
    overflow: hidden;
}

.card-home
{
    height: 60%;
    width: 60%;
    background-color: black;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}

.body-about {
  background: url('image/tlo4.png')no-repeat fixed;
  background-position: center;
  background-size: 100% 180%;
  padding: 20px 20px 20px 20px;
}

.card-about
{
    height: 60%;
    width: 60%;
    background-color: black;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}


.ico-about {
    height: 70%;
    width: 6%;
    overflow: hidden;
}

.img-about {
    height: 40%;
    width: 40%;
    overflow: hidden;
}

.body-skils {
  background: url('image/tlo3.png')no-repeat fixed;
  background-position: center;
  background-size: 115% 114%;
  padding: 20px 20px 20px 20px;
}

.body-contact {
  background: url('image/tlo7.jpg')no-repeat fixed;
  background-position: center;
  background-size: 100% 125%;
  padding: 20px 20px 20px 20px;
}

