<!DOCTYPE html>
<html lang="en">

<body>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <div class="container center">
        <div class="container center">
            <h4> Hello {{ name }} {{ surname }}</h4>
            <h5>Thank you for reaching out!</h5>
            <h5>Your Question was: {{ question }}</h5>
            <h5>I will answer you very soon..</h5>
        </div>
    </div>
</body>
</html>